.sq-top-navbar {
  background-color: #455A64 !important;
}

.sq-navbar-logo {
  color: white !important;
}

.parallax {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/302769/pexels-photo-302769.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1200");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sq-anchor {
  color: #455A64 !important;
}

.sq-bg {
  background-color: #455A64 !important;
}
.sq-button {
  background-color: #455A64 !important;
}

.sq-anchor:hover {
  text-decoration: none;
}
.sq-normal-text {
  color: #607d8b !important;
}