<nav class="navbar  sq-top-navbar">
  <a class="navbar-brand text-white sq-navbar-logo" href="#">Subquch</a>
  <div>
    <button
      class="btn btn-lg btn-outline-success my-2 my-sm-0 mr-5"
      type="submit"
    >
      Sign In
    </button>
    <button
      class="btn btn-lg btn-outline-success my-2 my-sm-0 mr-2"
      type="submit"
    >
      Sign Up
    </button>
  </div>
</nav>

<div class="container-fluid py-3">
   <div class="row">
     <div class="col-6 offset-3">
        <ul class="nav nav-pills">
            <li class="active w-25"><a href="#" class="sq-anchor">Home</a></li>
            <li class="active w-25"><a href="#" class="sq-anchor">Projects</a></li>
            <li class=" w-25"><a href="#" class="sq-anchor">About Us</a></li>
            <li class=" w-25"><a href="#" class="sq-anchor">Contact Us</a></li>
          </ul>
     </div>
   </div>
  </div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-carousel proportion="40">
        <mat-carousel-slide
          image="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=1&w=1200"
        >
        </mat-carousel-slide>
        <mat-carousel-slide
          image="https://images.pexels.com/photos/1064136/pexels-photo-1064136.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1200"
        >
        </mat-carousel-slide>
      </mat-carousel>
    </div>
  </div>
</div>

<div class="container-fluid my-5">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="row">
        <div class="col-6 d-flex justify-content-start">
          <h2 class="sq-normal-text">Featured Projects</h2>
        </div>
        <div
          class="col-6  d-flex justify-content-start "
          style="border-left: 2px solid #455A64;"
        >
          <p class="text-left sq-normal-text">
            Right aligned text on all viewport sizes.Right aligned text on all
            viewport sizes. Right aligned text on all viewport sizes.Right
            aligned text on all viewport sizes.Right aligned text on all
            viewport sizes. Right aligned text on all viewport sizes
          </p>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-4" *ngFor="let project of projects">
          <div class="card">
            <img
              [src]="project.logoUrl"
              class="card-img-top"
              alt="..."
              height="300"
            />
            <div class="card-body">
              <h5 class="card-title">{{project.title}}</h5>
              <p class="card-text sq-normal-text">
                {{project.summary}}
              </p>
              <a href="#" class="btn btn-primary">View Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row parallax">
    <div class="col-10 offset-1 mt-5">
      <div class="row">
        <div class="col-12 d-flex justify-content-center mt-5">
            <h2 class="text-white font-weight-bold">How Many Customers Served</h2>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-4">
          <h2 class="text-white text-center font-weight-bold">1000</h2>
          <h2 class="text-white text-center font-weight-bold">Investors</h2>
        </div>
        <div class="col-4">
            <h2 class="text-white text-center font-weight-bold">1000</h2>
            <h2 class="text-white text-center font-weight-bold">Projects</h2>
        </div>
        <div class="col-4">
            <h2 class="text-white text-center font-weight-bold">1000</h2>
            <h2 class="text-white text-center font-weight-bold">Active Projects</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="py-5" style="background-color: #455A64;">
    <div class="row">
      <div class="col-10 offset-1 col-md">
        <h2 class="text-white">SubQuch</h2>
        <p class="text-white">
          This is some Text. This is some Text. This is some Text. This is some Text. This is some Text. This is some Text. 
          This is some Text. This is some Text. This is some Text. This is some Text. This is some Text. This is some Text. 
        </p>
        <div>
          <i class="fa fa-2x fa-twitter mx-3 text-white"></i>
          <i class="fa fa-2x fa-google mx-3 text-white"></i>
          <i class="fa fa-2x fa-facebook-official mx-3 text-white"></i>
          <i class="fa fa-2x fa-instagram mx-3 text-white"></i>
        </div>
      </div>
      <div class="col-5 offset-1 col-md">
          <h5 class="text-white">About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-white" href="#">Team</a></li>
            <li><a class="text-white" href="#">Locations</a></li>
            <li><a class="text-white" href="#">Privacy</a></li>
            <li><a class="text-white" href="#">Terms</a></li>
          </ul>
        </div>
      <div class="col-5 offset-1 col-md">
        <h5 class="text-white">Usefull Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-white" href="#">Resource</a></li>
          <li><a class="text-white" href="#">Resource name</a></li>
          <li><a class="text-white" href="#">Another resource</a></li>
          <li><a class="text-white" href="#">Final resource</a></li>
        </ul>
      </div>
    </div>
  </footer>