<nav class="navbar  sq-top-navbar">
  <a class="navbar-brand text-white sq-navbar-logo" href="#">Subquch</a>
  <div>
    <button
      class="btn btn-lg btn-outline-success my-2 my-sm-0 mr-5"
      type="submit"
    >
      Sign In
    </button>
    <button
      class="btn btn-lg btn-outline-success my-2 my-sm-0 mr-2"
      type="submit"
    >
      Sign Up
    </button>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <mat-carousel proportion="40">
        <mat-carousel-slide
          image="https://images.pexels.com/photos/6267/menu-restaurant-vintage-table.jpg?auto=compress&cs=tinysrgb&dpr=1&w=1200"
        >
        </mat-carousel-slide>
        <mat-carousel-slide
          image="https://images.pexels.com/photos/1064136/pexels-photo-1064136.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1200"
        >
        </mat-carousel-slide>
      </mat-carousel>
    </div>
  </div>
</div>

<div class="container-fluid my-5">
  <div class="row">
    <div class="col-10 offset-1">
        <div class="row">
            <div class="col-6 d-flex justify-content-start">
              <h2>Featured Projects</h2>
            </div>
            <div
              class="col-6  d-flex justify-content-start "
              style="border-left: 2px solid #455A64;"
            >
              <p class="text-left">
                Right aligned text on all viewport sizes.Right aligned text on all
                viewport sizes. Right aligned text on all viewport sizes.Right aligned
                text on all viewport sizes.Right aligned text on all viewport sizes.
                Right aligned text on all viewport sizes
              </p>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-4">
              <div class="card" >
                <img src="https://images.pexels.com/photos/3183153/pexels-photo-3183153.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" >
                <img src="https://images.pexels.com/photos/3183153/pexels-photo-3183153.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" >
                <img src="https://images.pexels.com/photos/3183153/pexels-photo-3183153.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="..." />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's content.
                  </p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
