.sq-top-navbar {
  background-color: #455A64 !important;
  width: 100% !important;
  border-radius: 0 !important;
}
.sq-anchor {
  color: #455A64 !important;
}

.sq-active-link {
  border-bottom: 2px solid #455A64 !important;
  transition: all;
}

.sq-primary-bg {
  background-color: #03A9F4 !important;
}