<ngx-spinner
  bdColor="#455A64"
  size="large"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-fluid py-5 mx-5">
  <div class="row">
    <div class="col-md-12 ">
      <div class="row">
        <div class="col-md-9 col-xs-12 col-sm-12">
          <h3>
            {{ project?.title }}
          </h3>
          <mat-carousel proportion="40">
            <mat-carousel-slide
              *ngFor="let image of project?.images"
              [image]="image.imageUrl"
            >
            </mat-carousel-slide>
          </mat-carousel>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="row mb-0">
            <div
              class="card bg-light mb-3"
            >
              <div class="card-header sq-bg text-white">Amount Details</div>
              <div class="card-body bg-white px-0">
                <h6 class="card-title px-3">Disclaimer</h6>
                <p class="card-text sq-normal-text px-3">
                  {{ project?.disclaimer.substring(0, 300) }}...
                </p>
                <h6 class="card-title px-3">Total Worth</h6>
                <p class="card-text sq-normal-text px-3">
                  {{ project?.totalWorth }}
                </p>
                <ul class="nav nav-tabs card-header-tabs sq-bg mx-0">
                  <li class="nav-item w-50 text-center">
                    <a class="nav-link text-white" href="#"
                      >Monthly Investment</a
                    >
                  </li>
                  <li class="nav-item w-50 text-center">
                    <a class="nav-link text-white" href="#"
                      >Yearly Investment</a
                    >
                  </li>
                </ul>
                <h6 class="card-title mt-4 px-3">Formula</h6>
                <p class="card-text sq-normal-text px-3">
                  total / total * 100
                </p>
                <h6 class="card-title px-3">Monthly Profit</h6>
                <p class="card-text sq-normal-text px-3">
                  Rs. 1000
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>About This Project</h2>
      <p style="font-size: 18px; line-height: 40px; width: 90%;">
        {{ project?.summary }}
      </p>
      <p style="font-size: 18px; line-height: 40px; width: 90%;">
        {{ project?.detailDescription }}
      </p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-md-4">
      <h5> <span class="sq-normal-text"> Start Date </span>  : {{ project?.startDate | date }}</h5>
    </div>
    <div class="col-md-4">
        <h5 > <span class="sq-normal-text"> End Date</span>  : {{ project?.endDate | date }}</h5>
      </div>
      <div class="col-md-4">
          <h5 > <span class="sq-normal-text">City</span> : Lahore</h5>
        </div>
  </div>
  <div class="row">
    <h4 class="text-center font-weight-bold w-100">Monthly Reports</h4>
    <div class="col-md-4 offset-md-4">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let report of project?.reports">
                <td>{{report.id}}</td>
                <td>{{report.uploadDate | date}}</td>
                <td>
                  <a [href]="report.url">View</a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
