<div class="container-fluid">
  <div class="row parallax">
    <div class="col-10 offset-1 mt-5">
      <div class="row mt-5">
        <div class="col-12 d-flex justify-content-start mt-5">
          <h1 class="text-white font-weight-bold">Contact Us</h1>
        </div>
      </div>
      <div class="row mt-3">
        <h4 class="text-white">
          This is some Text About Us. It Doesn't mean anything and it only
          serves the purpose to take up some space
        </h4>
      </div>
    </div>
  </div>
  <div class="row my-5 align-items-center">
    <div class="col-md-6 offset-md-1">
      <h5 class="text-center">
        We are here to help you and answer any questions you might have. We Look
        forward to hearing from you
      </h5>
      <div class="d-flex justify-content-center">
        <ul class="list-group">
          <li class="list-group-item border-0">
            <i class="fa fa-envelope-o text-info mx-2"></i>David Copperfield
          </li>
          <li class="list-group-item border-0">
            <i class="fa fa-phone text-warning mx-2"></i>The Portrait of a Lady
          </li>
          <li class="list-group-item border-0">
            <i class="fa fa-map-marker text-danger mx-2"></i> The Trial
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-5">
      <form>
        <div class="form-group row">
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control form-control-lg"
              id="staticEmail"
              placeholder="Your Password"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control form-control-lg"
              id="inputPassword"
              placeholder="Your Email"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control form-control-lg"
              id="inputPassword"
              placeholder="Subject"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <textarea
              type="text"
              class="form-control form-control-lg"
              id="inputPassword"
              placeholder="Message"
              rows="8"
            ></textarea>
          </div>
        </div>
        <div class="col-md-10">
          <button class="btn btn-block btn-primary w-100 btn-lg sq-bg" type="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
