<ngx-spinner
  bdColor="#455A64"
  size="large"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-fluid pt-2 pb-4">
  <div class="row mt-5">
    <div class="col-md-3 offset-md-1 col-sm-6 col-xs-9">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          #searchInput
          placeholder="Find Projects"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
        />
        <div class="input-group-append">
          <button
            class="btn  sq-main-color text-white"
            type="button"
            id="button-addon2"
            (click)="searchHandler()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-sm-3 col-xs-2 mt-2">
      <span (click)="viewAllHandler()" class="sq-span">View All</span>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-8">
      <!-- <label for="exampleFormControlSelect1">Categories</label> -->
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Select Category</option>
        <option *ngFor="let category of categories">{{ category.name }}</option>
      </select>
    </div>
    <div class="col-md-4 col-sm-8 col-xs-12 offset-md-1">
      <div class="form-inline">
        <label class="sr-only" for="inlineFormInput">Min</label>
        <input
          #minInput
          type="number"
          class="form-control mb-2 mr-sm-2 mb-sm-0"
          id="inlineFormInput"
          placeholder="Min"
        />

        <label class="sr-only" for="inlineFormInput">Max</label>
        <input
          #maxInput
          type="number"
          class="form-control mb-2 mr-sm-2 mb-sm-0"
          id="inlineFormInput"
          placeholder="Max"
        />

        <button (click)="goHandler()" class="btn btn-primary sq-main-color">
          Go
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row ">
    <div class="col-md-10 offset-md-1 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6 mb-5 mt-2" *ngFor="let project of projects">
          <div class="card">
            <img
              [src]="project.logoUrl"
              class="card-img-top"
              alt="..."
              height="275"
            />
            <div class="card-body">
              <h5 class="card-title">{{ project.title }}</h5>
              <p class="card-text sq-normal-text">
                {{ project.summary.substring(0, 100) }}...
              </p>
              <a routerLink="{{ project.id }}" class="btn btn-primary sq-button"
                >View Project</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
