<div class="container-fluid">
  <div class="row parallax">
    <div class="col-10 offset-1 mt-5">
      <div class="row mt-5">
        <div class="col-12 d-flex justify-content-start mt-5">
          <h1 class="text-white font-weight-bold">About Us</h1>
        </div>
      </div>
      <div class="row mt-3">
        <h4 class="text-white">
          This is some Text About Us. It Doesn't mean anything and it only serves the purpose to take up some space
        </h4>
      </div>
    </div>
  </div>
  <div class="row my-5 mx-5">
    <div class="col-md-5 sq-normal-text">
      <p style="font-size: 18px; line-height: 40px">
        I expect to gain skills and experiences from ABC Business School that
        will propel my short and long-term goals. I hope to develop an
        experiential and diverse learning experience and have the opportunity to
        interact with different groups of people to learn from their business
        insights and endeavours. From ABC Business School, I seek the tools and
        resources needed to further engage in my marketing knowledge, perform
        professional strategic analyses, and re-evaluate my past work
        experiences. I look forward to taking courses from Professor Jim. W.
        Reid, who has published the research of the success of Matthews and
        Marketing in his book, “Matthews Commerce,” which has helped me continue
        my career this far. I also look forward to taking the unique classes
        taught by Professor Rachel E. Davis, introducing me to the physical
        therapy world and enriching my business skills in that area.
      </p>
    </div>
    <div class="col-md-5 offset-md-2 sq-normal-text">
      <p style="font-size: 18px; line-height: 40px">
        When my brother’s car accident in 2011 caused immobility in his left
        leg, he never thought he would be able to play his favorite sport again.
        David Andrews, a 1994 graduate from ABC Business School, ensured that
        that would not come to pass. I spoke with Andrews about his journey, and
        he told me that it was through the opportunities and education he
        received from the professors and students at ABC Business School that
        helped him open his own practice. I hope to follow in Andrews’s
        footsteps. With the passion I have for the success of Ridgeview Physical
        Therapy, and the determination I learned from watching my brother, all I
        need to complete my goals is the knowledge available to me through an
        MBA at ABC Business School. I look forward to completing my career
        aspirations using the tools received from ABC Business School to
        contribute to my professional career.
      </p>
    </div>
  </div>
  <div class="row parallax">
      <div class="col-10 offset-1 mt-5">
        <div class="row">
          <div class="col-12 d-flex justify-content-center mt-5">
            <h2 class="text-white font-weight-bold">How Many Customers Served</h2>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <h2 class="text-white text-center font-weight-bold">1000</h2>
            <h2 class="text-white text-center font-weight-bold">Investors</h2>
          </div>
          <div class="col-4">
            <h2 class="text-white text-center font-weight-bold">1000</h2>
            <h2 class="text-white text-center font-weight-bold">Projects</h2>
          </div>
          <div class="col-4">
            <h2 class="text-white text-center font-weight-bold">1000</h2>
            <h2 class="text-white text-center font-weight-bold">
              Active Projects
            </h2>
          </div>
        </div>
      </div>
    </div>
</div>
